body {
    margin: 0px;
    padding: 1em;
    border: 4px solid lime; 
    background-color: black;
    color: white;
    overflow: hidden;
}

button {
    border: 2px solid lime;
    background-color: black;
    color: white;
    margin: 2px;
}

#shop {
    border: 2px solid lime;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#shop .scroll {
    width: 100%;
    border: 2px solid lime;
    align-items: center;
    justify-content: left;
}
#shop .costText {
    text-align: right;
}